<div id="fb-root">
    <button ng-click="fb.loginButton()" ng-if="fb.isLoginButton">Connect From Facebook</button>
    <div ng-if="!fb.isLoginButton" ng-repeat="post in fb.userFeed">
        <div id="{/post[1].body.id/}" style="border:1px solid black;">
            <label class="title"><u>{/post[1].body.created_time/} - {/post[0].body.name/}</u><span ng-if="post[1].body.story"> : {/post[1].body.story/}</span></label>
            <div class = "body">
                <label class="message">{/post[1].body.message/}</label>
                <div id="{/attachment.target.id/}" class="attachments" ng-repeat="attachment in post[5].body.data">
                    <img ng-hide="true" ng-src="attachment.media.image.src" id="{/attachment.target.url/}">
                    <label>{/attachment.description/}</label>
                </div>
            </div>
            <br>
            <label><u>Likes:</u></label>
            <span id="{/like.id/}" class="likes" ng-repeat="like in post[3].body.data">
                <label>{/like.type/} : {/like.name/}</label>
            </span> 
            <br><br>
            <label><u>Comments:</u></label>
            <div id="{/comment.id/}" class="comments" ng-repeat="comment in post[2].body.data">
                <span>{/comment.from.name/} : {/comment.message/}</span>
                <!--TODO: Attachments from the comments go here-->
            </div>

        </div> <br>
    </div>
</div>