
<div>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>Log In/Sign Up</h2>
        </div>
        <!--
        <md-button class="md-icon-button md-24" ng-click="auth.close()">
            <md-icon md-svg-icon="close" aria-label="close" class="material-icons md-24"></md-icon>
        </md-button>-->
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-tabs md-selected="0" md-border-bottom md-dynamic-height style="height:800px;width:800px;">
            <md-tab label="Log In" class="md-padding">
                <div layout="column" style="margin-top:18px;">
                    <md-input-container class="md-block no-bot-margin">
                        <label>Email</label>
                        <md-icon md-svg-src="email"></md-icon>
                        <input required type="text" name="email" ng-model="auth.email">
                    </md-input-container> 
                    <md-input-container class="md-block no-bot-margin">
                        <label>Password</label>
                        <md-icon md-svg-src="lock"></md-icon>
                        <input required type="password" name="password" ng-model="auth.password">
                    </md-input-container>
                </div>
                <div layout="row">
                    <span flex></span>
                    <md-button type="submit" name="submit" ng-click="auth.signInUser()" class="md-raised md-primary">Submit</md-button>
                </div>
                
            </md-tab>
            <md-tab label="Sign Up" class="md-padding">
                LOLfdsfsdsfdsdffsdsfd
            </md-tab>
            <md-tab disabled></md-tab>
        </md-tabs>
    </md-dialog-content>
</div>
