
<md-sidenav class="md-sidenav-left" md-component-id="menu" md-disable-backdrop="true" md-whiteframe="4" md-is-open="isSideNavOpen" layout = "column">
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-sm card-media" layout>
            <md-icon md-svg-icon="account" class="material-icons md-48"></md-icon>
          </div>
        </md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">{/$root.username | limitTo: 15/}</span>
          <span class="md-subhead description">I am an email</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card flex style="height:auto">
        <md-content flex layout = "column">
            <md-list flex layout="column">
                <div>
                    <md-list-item class="md-2-line" ui-sref="home">
                        <md-icon md-svg-icon="home" class="md-avatar" aria-label="home"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Home</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="df()">
                        <md-icon md-svg-icon="account-box" class="md-avatar" aria-label="about"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>About</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="df()">
                        <md-icon md-svg-icon="camera" class="md-avatar" aria-label="photos"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Photos</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="df()">
                        <md-icon md-svg-icon="account-multiple" class="md-avatar" aria-label="friends"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Friends</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="df()">
                        <md-icon md-svg-icon="history" class="md-avatar" aria-label="activity"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Activity</h3>
                        </div>
                    </md-list-item>
                </div>
                <div flex></div>
                <div>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ui-sref="account">
                        <md-icon md-svg-icon="settings" class="md-avatar" aria-label="settings"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Settings</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="logout">
                        <md-icon md-svg-icon="logout" class="md-avatar" aria-label="logout"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Logout</h3>
                        </div>
                    </md-list-item>
                </div>
            </md-list>
        </md-content>
    </md-card>
    
</md-sidenav>

<div id="mainframe" style="float:left;" class="sidenav-push md-whiteframe-6dp" layout="column">
    <div style="text-align:center; background-color:orange;border-bottom:2px solid black;">
        <md-button class="md-icon-button md-48" ng-click="main.toggleSidebar()">
            <md-icon md-svg-icon="menu" class="material-icons md-48" aria-label="menu"></md-icon>
        </md-button>
    </div>
    <md-content flex>
        <div >
            <md-button class="md-fab" style="background-color:#3b5998;" ng-click="main.fbLogin()" ng-disabled="$root.FBisLoggedIn">
                <md-icon md-svg-icon="facebook" class="material-icons md-36" aria-label="facebook"></md-icon>
            </md-button>
        </div>
        <div>
            <md-button class="md-fab" style="background-color:#00aced;" ng-click="main.twitterLogin()" ng-disabled="$root.twitIsLoggedIn">
                <md-icon md-svg-icon="twitter" class="material-icons md-36" aria-label="twitter"></md-icon>
            </md-button>
        </div>
    </md-content>
</div>
<div ui-view="feed" flex="70" style="min-height: 100%; padding-right: 2%; padding-left: 2%" layout="column">
    Click one icon on the left side
</div>
<div ui-view="messages" flex="30" class="md-whiteframe-6dp" layout="column" style="min-height: 100%">
</div>


