
<md-sidenav class="md-sidenav-left" md-component-id="menu" md-disable-backdrop="true" md-whiteframe="4" md-is-open="isSideNavOpen">
    LOL
</md-sidenav>

<div id="mainframe" style="float:left;" class="sidenav-push md-whiteframe-6dp" layout="column">
    <div style="text-align:center; background-color:orange;border-bottom:2px solid black;">
        <md-button class="md-icon-button md-48" ng-click="main.toggleSidebar()">
            <md-icon md-svg-icon="menu" class="material-icons md-48" aria-label="menu"></md-icon>
        </md-button>
    </div>
    <md-content flex>
        <div>
            <md-button class="md-fab" style="background-color:#3b5998;" ng-click="main.fbLogin()">
                <md-icon md-svg-icon="facebook" class="material-icons md-36" aria-label="facebook"></md-icon>
            </md-button>
        </div>
        <div>
            <md-button class="md-fab" style="background-color:#00aced;">
                <md-icon md-svg-icon="twitter" class="material-icons md-36" aria-label="twitter"></md-icon>
            </md-button>
        </div>
        <div>
            <md-button class="md-fab" style="background-color:#fffc00;">
                <md-icon md-svg-icon="snapchat" class="material-icons md-36" aria-label="snapchat"></md-icon>
            </md-button>
        </div>
    </md-content>
</div>
<div ui-view="mainfeed" flex="70" style="min-height: 100%; padding-right: 2%; padding-left: 2%" layout="column">
    Content
</div>
<div ui-view="messages" flex="30" class="md-whiteframe-6dp" layout="column" style="min-height: 100%">
</div>


