<br><br>
<div layout layout-align="end center" flex>
    <md-checkbox aria-label="facebook" ng-model="mf.facebookCb" ng-init="mf.facebookCb = true" ng-click="mf.onFbCb()" ng-show="$root.FBisLoggedIn">Facebook</md-checkbox>
    <md-checkbox aria-label="twitter" ng-model="mf.twitterCb" ng-init="mf.twitterCb = true" ng-click="mf.onTwitCb()" ng-show="$root.twitIsLoggedIn">Twitter</md-checkbox>
</div>
<br>
<md-content flex id="fb-root">
    <div style="padding: 1% 1% 1% 1%;" ng-repeat="post in mf.mainFeed">
        <div class="md-whiteframe-4dp" id="{/post.id/}">
            <md-toolbar class="md-menu-toolbar" layout="column" class="title">
                <div layout="row" flex>
                    <md-toolbar-filler ng-if="post.media == 'twitter'" layout="column" layout-align="center center" style="background-color: #00aced;">
                        <md-icon md-svg-icon="twitter" class="material-icons md-36" flex style="color:white;"></md-icon>
                    </md-toolbar-filler>
                    <md-toolbar-filler ng-if="post.media == 'facebook'" layout="column" layout-align="center center" style="background-color: #3b5998;">
                        <md-icon md-svg-icon="facebook" class="material-icons md-36" flex style="color:white;"></md-icon>
                    </md-toolbar-filler>
                    <div layout="row" flex class="side-padding">
                        <h2 class="md-subhead" layout layout-align="center center" style="max-width:23%; overflow-x:auto;">{/post.user.name/}</h2>
                        <div ng-if="post.story" layout="row" flex="60">
                            <div layout="row" flex>
                                <div class="side-padding" layout layout-align="center center">
                                    <md-icon md-svg-icon="arrow-right-bold" ></md-icon>
                                </div>
                                <h3 class="md-subhead" layout layout-align="start center" style="opacity: 0.5; font-style: italic; overflow-x:auto;">{/post.story/}</h3>
                            </div>
                        </div>
                        <span flex></span>
                        <h3 class="md-body-1" layout layout-align="end center" style="opacity: 0.5;">{/post.created_at/}</h3>
                    </div>
                </div>
            </md-toolbar>
        </div>
        <div class="md-whiteframe-2dp" layout="row">
            <div flex style="padding-right:1%;">
                <h4 class="md-body-1 side-padding" class="message" style="word-wrap: break-word;">{/post.body/}</h4>
                <md-divider></md-divider>
                <div layout="row" flex>
                    <md-subheader class="md-no-sticky">{/post.reactions.count/} {/post.reactions.media_name/}</md-subheader>
                    <span flex></span>
                    <div layout layout-align="end center">
                        <md-button class="md-icon-button" ng-if="post.reactions.count != 0"  ng-click="fb.openLikeDialog($event,post.reactions.recent_likes)">
                            <md-icon md-svg-icon="arrow-expand" aria-label="popup-reactions"></md-icon>
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" flex>
                    <md-subheader class="md-no-sticky">{/post.shares.count/} {/post.shares.media_name/}</md-subheader>
                    <span flex></span>
                    <div layout layout-align="end center">
                        <md-button class="md-icon-button" ng-if="post.shares.count != 0"  ng-click="fb.openShareDialog($event,post.shares.recent_shares)">
                            <md-icon md-svg-icon="arrow-expand" aria-label="popup-shared"></md-icon>
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" flex>
                    <md-subheader class="md-no-sticky">{/post.comments.count/} {/post.comments.media_name/}</md-subheader>
                    <span flex></span>
                    <div layout layout-align="end center">
                        <md-button class="md-icon-button" ng-if="post.comments.count > 2" ng-click="fb.openCommentDialog($event,post.comments.recent_comments)" >
                            <md-icon md-svg-icon="arrow-expand" aria-label="popup-comments"></md-icon>
                        </md-button>
                    </div>
                </div>
                <md-list flex ng-if="post.comments.count != 0">
                    <div ng-repeat="comment in post.comments.recent_comments">
                        <div ng-if="$index >= (post.comments.count-2)">
                            <md-list-item class="md-2-line"  layout="row">
                               <md-icon md-svg-icon="account" class="md-avatar" aria-label="avatar"></md-icon>
                                <div class="md-list-item-text" flex="100">
                                    <h3>{/comment.from.name/}</h3>
                                    <p>{/comment.message/}</p>
                                    <!--Also have the time of the comment as well-->
                                </div>
                                <h5 class="md-body-1" layout layout-align="end center" style="opacity: 0.5; white-space: nowrap;">{/comment.created_time/}</h5>
                            </md-list-item>
                            <md-divider ng-if="$index != post.comments.count-1"></md-divider>
                        </div>
                    </div>
                </md-list>
            </div>
            <div class="md-whiteframe-3dp container" flex="40" layout="column" layout-align="center center" style="max-height: 500px;">
                <div id="{/attachment.id/}" class="attachments" ng-repeat="attachment in post.attachments.media">
                <img ng-src="{/attachment.media_url/}" id="{/attachment.url/}" height="300" width="300">
                <!--<label>{/attachment.description/}</label>-->
            </div>
            </div>
            
        </div>
    </div>
</md-content>

