<div id="listOfFriends" flex="40" ng-show="true">
    <span>Hello Friends!</span>
    <div ng-repeat="users in message.friendList">
        <br><a href="" ng-click="message.currUserToSend($event)" id="{/users.userid/}" ng-hide="message.hasDisplayName(users.displayname)">{/users.email/}</a>
            <a href="" ng-click="message.currUserToSend($event)" id="{/users.userid/}" ng-show="message.hasDisplayName(users.displayname)">{/users.displayname/}</a>
        <label id="notification-{/users.userid/}"></label>
    </div>
</div>
<div flex-direction="reverse" flex="60">
    <div style="float:right;">
        <!-- TODO: REALTIME VALIDATION BEFORE YOU SEND TO THE SERVER FOR LOGIN/SIGNUP-->
        <textarea disabled readonly type="text" name="sendTo" style="margin: 0px; height: 20px; width: 1000px; resize:none" id="userToSend">{/message.userToSend/}</textarea><br>
        <textarea disabled readonly style="margin: 0px; height: 600px; width: 1000px;resize:none" id="incomingText" ></textarea><br>
        <textarea disabled type="text" name="input" style="margin: 0px; height: 50px; width: 1000px;resize:none" id="outgoingText" ng-model="message.messageToSend" ng-keypress="message.sendMessage($event)"></textarea>
    </div>
</div>



