
    
<a ui-sref="home"><h1>Sign Up</h1></a>
<hr>
<div >
    <form ng-submit="auth.createUser()">
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" ng-model="auth.email"></td>
                <td style="color:red" ng-cloak>{/auth.err_email/}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" ng-model="auth.password"></td>
                <td style="color:red" ng-cloak>{/auth.err_pass/}</td>
            </tr>
            <tr>
                <td>Verify Password:</td>
                <td><input type="password" name="verify" ng-model="auth.verify"></td>
                <td style="color:red" ng-cloak>{/auth.err_verify/}</td>
            </tr>

            <tr>
                <td><input type="submit" name=""></td>
            </tr>
        </table>
    </form>
</div>
