<!DOCTYPE html>
<html ng-app="website">
<head>
    <title>Panible</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <script src="//code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/cleanslate.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    
    <base href="/">
</head>

<body style="margin:0px;padding:0px;" layout="column">
    <div ng-controller="WebsiteController as web" layout="row" layout-align="start center" style="border-bottom: 2px solid black">
        <div style="float:left !important;" flex="50">
            <label style="text-align: left !important;" class="md-display-1"  >Panible</label>
        </div>
        <div ng-cloak flex-direction="reverse" flex="50" style="text-align: right !important;" ng-if="$root.isLoaded"> 
            <div ng-if="!$root.isLoggedIn">
                <md-button ui-sref="home">Home</md-button>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <md-button ui-sref="home">About</md-button>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <md-button ui-sref="home">Contact</md-button>
            </div>
            <div ng-if="$root.isLoggedIn">
                <label>{/$root.username/}</label>
                <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                <md-button ui-sref="home" >Home</md-button>
                <md-button ui-sref="socialpage({socialpage:'facebook'})" ng-hide="true">Facebook(NOT WORKING)</md-button>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <md-button ui-sref="account">Edit</md-button>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <md-button ui-sref="logout">Log Out</md-button>
            </div>
        </div>
    </div>
    
    <div ui-view layout="row" flex ng-cloak></div>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/config.js"></script>
    <script type="text/javascript" src="/scripts/authentication-service.js"></script>
    <script type="text/javascript" src="/scripts/tokenservice.js"></script>
    <script type="text/javascript" src="/scripts/updateservice.js"></script>
    <script type="text/javascript" src="/scripts/messageservice.js"></script>
    <script type="text/javascript" src="/scripts/facebookservice.js"></script>
</body>


</html>