<!DOCTYPE html>
<html ng-app="website">
<head>
    <title>Welcome</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
</head>
<body ng-controller="WebsiteController as web" ng-init="web.loggedIn({{loggedIn | lower}},'{{username}}')">
    <div>
        <div style="float:left;">
            <label style="text-align: left;"><b>Website!</b></label>
        </div>
        <div style="float: right" > 
            {%if not loggedIn%} 
            <a href="/">Home</a>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a href="/login">Login</a>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a href="/signup">Sign Up</a>
            {%else%}
            {{username}} - <a href="/logout"> Log Out</a>
            {%endif%}
        </div>
        <br>
        <hr>
    </div>
    <div align = "center">
        <!-- TODO: REALTIME VALIDATION BEFORE YOU SEND TO THE SERVER-->
        <textarea type="text" name="sendTo" style="margin: 0px; height: 20px; width: 1000px;"></textarea><br>
        <textarea style="margin: 0px; height: 600px; width: 1000px;"></textarea><br>
        <textarea type="text" name="input" style="margin: 0px; height: 50px; width: 1000px;"></textarea>
    </div>
    
    <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>