<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
</head>
<body>
    <a href="/"><h1>Log In</h1></a>
    <hr>
    <form method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" value="{{username}}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <label style="color:red">{{err_login}}</label><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>